.bgImage {
    background-image:  url('../../public/Home-Desktop/Union 7.svg');
    background-color: transparent;
    background-repeat:  no-repeat;
    background-clip:  padding-box;
    background-size: contain;
    pointer-events: none;
    position: absolute;
    opacity: 0.05;
    height: auto;
    width: auto;
    bottom: 0;
    left: 68%;
    right: 0;
    top: 0;
}

.footlist {
    li {
        margin: 10px auto;
    }
}

.subscribe {
    input {
        width: 80%;
    }

    button{
        width: 15%
    }
}