.bg {
    background-image: url("../../public/Home-Desktop/©-UNICEF_UNI235471_Willocq-1.png");
    >div{
        background: transparent linear-gradient(180deg, #7C7C7C00 0%, #000000 100%) 0% 0% no-repeat padding-box;
    }
    background-position: center center;
    background-clip: padding-box;
    background-repeat: no-repeat;
}